{%extends "EnquetesMainBundle::layout.html.twig"%}

{%block enquetes_n3 %}
    <div class="row show-grid">
         <div class="col-md-5 well">
             <form class="form-inline" role="form" method="post" {{ form_enctype(form) }}>
                 <h4>Connectez-vous</h4>
                 <div id="margin-form" class="form-group">
                  {{ form_widget(form) }}
                </div>
                
                <button type="submit" class="btn btn-primary btn-lg btn-block">Identifiez-vous</button>
              </form>

         </div>
         <div class="col-md-1"></div>
         <div class="col-md-5 well">
             <form class="form-inline" role="form" method="post" {{ form_enctype(form) }}>
                 <h4>S'inscrire</h4>
                <div id="margin-form" class="form-group">
                  <label class="sr-only" for="exampleInputEmail2">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                </div>
                <div id="margin-form" class="form-group">
                  <label class="sr-only" for="exampleInputPassword2">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default btn-lg btn-block">S'inscrire</button>
              </form>
             
         </div>
      </div>
{#<form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
      </form>#}
{%endblock%}

