{%extends "EnquetesMainBundle::layout.html.twig"%}

{%block enquetes_n3 %}
    <div class="row show-grid">
         <div class="col-md-5 well">
             <form class="form-inline" role="form" method="post" {{ form_enctype(form) }}>
                 <h4>Inscription</h4>
                 <div id="margin-form" class="form-group">
                  {{ form_widget(form) }}
                </div>
                
                <button type="submit" class="btn btn-primary btn-lg btn-block">Enregistrer</button>
              </form>

         </div>
         <div class="col-md-1"></div>
         <div class="col-md-5 well">
             
               <form action="{{ path('login_check') }}" method="post">
  
    <div id="margin-form" class="form-group">  
        <label for="username">Login</label>
        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="_password" />
    </div>
                   <br />
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Connexion" />
    

             
         </div>
      </div>
{#<form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
      </form>#}
{%endblock%}

