{%extends "EnquetesMainBundle::layout.html.twig"%}


{%block enquetes_n3 %}

{%if enquete is defined %}
<h1>{{enquete.titre}}</h1>
<h3>{{enquete.description}}</h3>
<h6>Theme :{{enquete.themeTheme.libelle}}</h6>
{%endif%}


     
 <form action="" method="post" {{ form_enctype(form) }}>    


{{ form_widget(form) }}


<input type="submit" class="btn btn-primary" />
 </form>
    
{%endblock%}

